<!DOCTYPE html>
<html>
    <head>
        <title id="title">Hello</title>
        <script src="../static/botton.js"></script>
    </head>
    <body>
        <h1 id="hello">Hello, World!</h1>
        <h1 id="counter">0</h1>
        <button onclick="hello()">Change Text</button>
        <button id="countBtn">Start Count</button>
        <button class="color-change" data-color="red">Red</button>
        <button class="color-change" data-color="green">Green</button>
        <button class="color-change" data-color="blue">Blue</button>
    </body>
</html>